.section__quote {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 34px;
    width: 722px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 860px){
    .section__quote{
        max-width: 100%;
        font-size: 1rem;
        line-height: 1.3;
    }
}

@media screen and (max-width:660px){
  .section__quote{
      max-width: 450px;
      line-height: 1.3;
  }
}


  @media screen and (max-width: 320px) {
    .section__quote {
        max-width: 288px;
        line-height: 1.2;
    }    
}