.header-container__title{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 6.7rem;
    max-width: 793px;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .header-container__title {
        max-width: 100%;
        font-size: 5rem;
    }    
}
@media screen and (max-width: 610px) {
    .header-container__title {
        max-width: 100%;
      font-size: 3rem;
      line-height: 1;
    }
}  
@media screen and (max-width: 450px) {
    .header-container__title {
        max-width: 100%;
      font-size: 60px;
      line-height: 1;
    }
}
@media screen and (max-width: 320px) {
    .header-container__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1;
    }    
}