 .section__pictures-grid{ 
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-top: 90px auto 90px;
  margin-bottom: 86px;
} 

.item-1 {
  width: 100%;
  transition: 0.5s;
}
.item-1:hover{
  opacity: 0.9;
  transform: translate(-10px, -10px);
  
}

.item-2 {
  width: 100%;
  transition: 0.5s;
}

.item-2:hover{
  transform: translate(-10px, -10px);
}

.item-3 {
  width: 100%;
  transition: 0.5s;
}

.item-3:hover{
  transform: translate(-10px, -10px);
}

.item-4 {
  width: 100%;
  transition: 0.5s;
}

.item-4:hover{
  transform: translate(-10px, -10px);
}

.item-5 {
  width: 100%;
  transition: 0.5s;
}

.item-5:hover{
  opacity: 0.9;
  transform: translate(-10px, -10px);
}

.item-6 {
  width: 100%;
  transition: 0.5s;
}

.item-6:hover{
  transform: translate(-10px, -10px);
}

.item-7 {
  width: 100%;
  transition: 0.5s;
}

.item-7:hover{
  transform: translate(-10px, -10px);
}

.item-8 {
  width: 100%;
  transition: 0.5s;
}

.item-8:hover{
  transform: translate(-10px, -10px);
}
 
@media screen and (max-width: 768px) {
  .section__pictures-grid{
      max-width: 720px;
      padding-top: 88px;
      padding-bottom: 88px;
      gap: 16px;
      margin-bottom: 86px;
  }    
}
@media screen and (max-width: 320px) {
  .section__pictures-grid{
      max-width: 320px;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      padding-top: 38px;
      padding-bottom: 62px;
      gap: 12px;
      margin: 0, 16px;
  }    
}