.visit-us__container_paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    }

    @media screen and (max-width: 320px) {
        .visit-us__container_paragraph {
          max-width: 220px;
          font-size: 14px;
          line-height: 1.1;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }