.visit-us__overlay{
    background-image: url("../../../images/section-pictures/__background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 320px) {
    .visit-us__overlay {
      max-width: 320px;
      min-height: 254px;
    }
  }