
.cities__grid-artist-name {
    max-width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 0;
    transition: opacity 0.2s linear;
  }

  .cities__grid-artist-name:hover{
    opacity: 0.5;
  }

  