
.section__text {
    width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    margin: 0 auto 80px;
  }

@media screen and (max-width: 768px) {
    .section__text {
        max-width: 100%;
    }    
}

@media screen and (max-width:660px){
    .section__text{
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .section__text {
        max-width: 100%;
    }    
}